<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />
    <uses-feature android:name="android.software.companion_device_setup" />

    <queries>
        <intent>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.action.LAUNCHER" />
        </intent>
    </queries>
    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:theme="@style/Theme.NotificationInStatusBar"
        tools:ignore="DataExtractionRules">
        <service android:name=".ui.ApkSelectorService"
            android:label="Retrieve notification channels"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"
            android:exported="false">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>
        <receiver android:name=".autostart" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".ui.SettingsBroadcastReceiver"
            android:exported="true"
            android:permission="com.android.systemui.permission.SELF">
            <intent-filter>
                <action android:name="net.lonelytransistor.notificationinsystem.BROADCAST_SETTINGS_REQUEST" />
            </intent-filter>
        </receiver>
        <activity
            android:name=".ui.ApkSelectorActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposedminversion"
            android:value="93" />
        <meta-data
            android:name="xposeddescription"
            android:value="@string/app_module_summary" />
        <meta-data
            android:name="xposedscope"
            android:resource="@array/module_scope" />
    </application>

</manifest>